$app-dark-primary: mat-palette($mat-indigo, 700);
$app-dark-accent: mat-palette($mat-blue, A200);
$app-dark-warn: mat-palette($mat-red, A200);
$app-dark-theme: mat-dark-theme(
    $app-dark-primary,
    $app-dark-accent,
    $app-dark-warn
);
